body{
    margin: 0px;
    background-color: #ddd;
    font-family: sans-serif;
}

main{
    width: 90%;
    margin: auto;
}

/*Header principal*/
.header-principal{
    background-image: url("../imagens/bg-header.jpg");
    background-position: right bottom;
    background-size: cover;
    margin: 0px;
    height: 450px;
}

.div-titulo{
    text-transform: uppercase;
    text-shadow: 3px 3px 10px black;
    width: 30%;
    margin: auto;
    padding-top: 250px;
}

.h1-pt1{
    font-size: 45px;
    text-align: center;
    color: white;
    margin-top: 0px;
}

.color1{
    color: #2E64FE;
}

.color2{
    color: white;
}

.nav-menu-header{
    background-color:#0B0B61;
}

.link-menu{
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.link-menu:hover{
    color: black;
}

.button-menu{
    padding: 14px;
    margin: 0px;
    background-color: #0B0B61;
    border: none;
}

.button-menu:hover{
    background-color: white;
    cursor: pointer;
}

/*Footer principal*/
.footer-principal{
    background-color: black;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ddd;
}

/*Section principal*/
.section-principal{
    display: inline-block;
    background-color: white;
    margin: 0px 0px 10px 5px;
    padding: 8px;
    width: 75%;
    height: 100%;
}

/*Section lateral*/
.section-lateral{
    display: inline-block;
    background-color: white;
    padding: 8px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    height: 100%;
}